:root {
    --blockblog-primary-r: 255;
    --blockblog-primary-g: 143;
    --blockblog-primary-b: 0;
    --blockblog-primary-alpha: 100%;
    --blockblog-primary: rgb(var(--blockblog-primary-r) var(--blockblog-primary-g) var(--blockblog-primary-b) / var(--blockblog-primary-alpha));
}
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v23-latin-regular.woff2') format('woff2'),
       url('../fonts/poppins-v23-latin-regular.ttf') format('truetype'); 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    --blockblog-primary-alpha: 10%;
    --blockblog-primary: rgb(var(--blockblog-primary-r) var(--blockblog-primary-g) var(--blockblog-primary-b) / var(--blockblog-primary-alpha));
    background-color: var(--blockblog-primary);
    font-family: "Poppins";
}
header {
        --blockblog-primary-alpha: 80%;
        --blockblog-primary: rgb(var(--blockblog-primary-r) var(--blockblog-primary-g) var(--blockblog-primary-b) / var(--blockblog-primary-alpha));
        background-color: var(--blockblog-primary);
        .blockblog-top-progress {
            width: 100%;
            height:3px;
            position: relative;
            top: 2px;
            left: 0;
            display: flex;
            opacity: 1;
            background: rgb(255 163 46);
            &::before {
                display: none;
                content: '';
                width: 100px;
                height: 100%;
                position:absolute;
                background:#fff;
                animation: blockblog-top-progress 2000ms ease infinite;
            }
            &.loading::before {
                display: block;
            }
        }


    .blockblog-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:10px;
        max-inline-size: 1080px;
        margin: 0 auto;
    
        .logo-and-nav {
            display: flex;
            column-gap: 20px;
            align-items: center;
            .logo {
                font-size: 20px;
                a {
                    text-decoration: none;
                    color: rgba(0,0,0,1);
                    font-weight: 600;
                }
            }
            .nav-menu ul{
                display: flex;
                list-style: none;
                column-gap: 8px;
                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: rgba(0,0,0,1);
                    position: relative;
                    &::before {
                        content: '';
                      width: 100%;
                        height: 1.5px;
                        background: red;
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        transform: scaleX(0);
                        transition: transform 150ms ease;

                    }
                    &:hover::before {
                        width: 100%;
                        transform: scaleX(1);
                    }
                }
            }
        }
        
        .search-and-profile {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 8px;
            .avatar {
                display: flex;
                align-items: center;
                .blockblog-menu-toggler {
                    display: none;
                }
            }
            form div {
                display: flex;
                gap: 0;
                height: 35px;
                width: fit-content;
                --border-radius: 8px;
                input {
                    padding: 0 10px;
                    border-top-left-radius: var(--border-radius);
                    border-bottom-left-radius: var(--border-radius);
                    border-width: 1px;
                    background: #fff;
                    font-size: 14px;
                    font-weight: 400;
                }
                button {
                    width: 35px;
                    border-width: 1px;
                    border-top-right-radius: var(--border-radius);
                    border-bottom-right-radius: var(--border-radius);
                    background: #fff;
                    cursor: pointer;
                }
            }
            .blockblog-profile-link {
                display: flex;
                img {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

        }
    }

}
@media only screen and (max-width: 768px) {
    header {
       .blockblog-header {
            flex-direction: column;
            align-items: flex-end;
            gap: 12px;
            .logo-and-nav {
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 500px) {
    header {
        .blockblog-header {
            flex-direction: row;
            align-items: center;
            position: relative;
            z-index: 10;
            .logo-and-nav {
                .logo {
                    font-size: 16px;
                }
                .blockblog-nav {
                    &.nav-shown ul {
                        display: flex;
                    }
                    ul {
                        flex-direction: column;
                        position: absolute;
                        top: 50px;
                        --blockblog-primary-alpha: 80%;
                        --blockblog-primary: rgb(var(--blockblog-primary-r) var(--blockblog-primary-g) var(--blockblog-primary-b) / var(--blockblog-primary-alpha));
                        background-color: var(--blockblog-primary);
                        width: 100%;
                        left: 0;
                        padding: 0 10px;
                        display: none;
                        li {
                            a {
                                padding: 8px 0;
                                display: block;
                                width: 100%;
                                height: 100%;
                            }
                        }

                    }
                }
            }
            .search-and-profile {
                .blockblog-search {
                    input, button {
                        height: 35px;
                    }
                    input {
                        width: 150px;
                    }
                }
                .avatar {
                    img {
                        display: none;
                    }
                    .blockblog-menu-toggler {
                        display: block;
                    }
                }
            }

        }
    }
}
.blockblog-container {
    max-inline-size: 1080px;
    margin: 0 auto;
    margin-block: 20px;
    display: grid;
    grid-template-columns: 1;
    gap: 14px;
    h2 {
        font-size: 20px;
        color: rgba(0,0,0,1);
        margin-bottom: 10px;
    }
    &.archive {
        grid-template-columns: repeat(auto-fill, 300px);

        .blockblog-single {
    		box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
            position: relative;
            padding: 10px;
            img {
                object-fit: cover;
                width: 100%;
            }
            .post-meta {
                font-size: 14px;
                color: rgba(0,0,0,0.6);
                margin-bottom: 10px;
            }
            .post-author-link,
            .post-category-link {
                color: rgba(0,0,0,1);
            }
            .post-title,
            .post-excerpt {
                color: rgba(0,0,0,0.8);
                text-decoration: none;
            }
            &:hover,
            &:focus-within {
                background: rgba(0,0,0,0.05);
                .post-title,
                .post-excerpt,
                .post-thumbnail,
                .post-meta {
                    filter: blur(1px);
                    &:hover, 
                    &:focus-within {
                        filter: blur(0);
                    }
                }
                .read-more {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
            .read-more {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -60%);
                font-size: 14px;
                color: rgba(0,0,0,1);
                --blockblog-primary-alpha: 100%;
                --blockblog-primary: rgb(var(--blockblog-primary-r) var(--blockblog-primary-g) var(--blockblog-primary-b) / var(--blockblog-primary-alpha));
                background-color: var(--blockblog-primary);
                padding: 8px 12px;
                text-decoration: none;
                opacity: 0;
                pointer-events: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }
    &.posts-not-found {
        text-align: center;
    }
    &:not(.archive) {
        .post-thumbnail {
            width: min(390px, 100%);
            aspect-ratio: 16/9;
            object-fit: cover;
            object-position: center;
            border-radius: 8px;
            margin-bottom: 0.8rem;
        }
    }

}

@media only screen and (max-width: 500px) {
    .blockblog-container {
        &.archive {
            grid-template-columns: repeat(1, 1fr);
        }
        padding-inline: 20px;
    }
}

@keyframes blockblog-top-progress {
    0% {
        left: 0;
    }
    100% {
        left: calc(100% - 100px);
    }
}

footer.blockblog-footer {
    background: rgba(0,0,0,0.25);
    color: rgba(0,0,0,0.8);
    padding: 10px;
    text-align: center;
}
