@media only screen and (max-width: 500px) {
    .blockblog-container {
        &.archive {
            grid-template-columns: repeat(1, 1fr);
        }
        &:not(.archive) {
            h1 {
                font-size: 1.5rem;
            }
            .blockblog-single-post,
            .blockblog-single-page {
                max-width: 390px;
                white-space: pre-line;
            }
        }
        padding-inline: 20px;
    }
}
